@model IEnumerable<MVC_2024.Models.MovimentacaoModel>

@{
    ViewData["Title"] = "Movimentações";
}

<h1>Movimentações</h1>

<p>
    <a href="@Url.Action("Create", "Movimentacao")" class="btn btn-primary">Adicionar Nova Movimentação</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Estoque</th>
            <th>Tipo de Movimentação</th>
            <th>Quantidade</th>
            <th>Data da Movimentação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movimentacao in Model)
        {
            <tr>
                <td>@movimentacao.Id</td>
                <td>@movimentacao.Estoque.Nome</td> <!-- Assume que Estoque tem uma propriedade Nome -->
                <td>@movimentacao.tipoMovimentacao</td>
                <td>@movimentacao.quantidade</td>
                <td>@movimentacao.DataMovimentacao.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="@Url.Action("Edit", "Movimentacao", new { id = movimentacao.Id })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Delete", "Movimentacao", new { id = movimentacao.Id })" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
